In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\hp\Desktop\CAR DETAILS FROM CAR DEKHO.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [ ]:
#replace()

In [4]:
#to change a car name
df["name"].replace("Maruti 800 AC","xyz")

0                                       xyz
1                  Maruti Wagon R LXI Minor
2                      Hyundai Verna 1.6 SX
3                    Datsun RediGO T Option
4                     Honda Amaze VX i-DTEC
                       ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)
4336             Hyundai i20 Magna 1.4 CRDi
4337                    Maruti 800 AC BSIII
4338       Hyundai Creta 1.6 CRDi SX Option
4339                       Renault KWID RXT
Name: name, Length: 4340, dtype: object

In [5]:
#to change every 60000 to 80000
df.replace(60000,80000)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,80000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [4]:
df["name"].replace("Maruti 800 AC","Maruti Wagon R LXI Minor")
df[df["name"]=="Maruti Wagon R LXI Minor"][["name","fuel","transmission"]]

                          name    fuel transmission
1     Maruti Wagon R LXI Minor  Petrol       Manual
14    Maruti Wagon R LXI Minor  Petrol       Manual
113   Maruti Wagon R LXI Minor  Petrol       Manual
275   Maruti Wagon R LXI Minor  Petrol       Manual
392   Maruti Wagon R LXI Minor  Petrol       Manual
524   Maruti Wagon R LXI Minor  Petrol       Manual
697   Maruti Wagon R LXI Minor  Petrol       Manual
1174  Maruti Wagon R LXI Minor  Petrol       Manual
1321  Maruti Wagon R LXI Minor  Petrol       Manual
1555  Maruti Wagon R LXI Minor  Petrol       Manual
2010  Maruti Wagon R LXI Minor  Petrol       Manual
2638  Maruti Wagon R LXI Minor  Petrol       Manual
2774  Maruti Wagon R LXI Minor  Petrol       Manual
3033  Maruti Wagon R LXI Minor  Petrol       Manual
3104  Maruti Wagon R LXI Minor  Petrol       Manual
3450  Maruti Wagon R LXI Minor  Petrol       Manual
3468  Maruti Wagon R LXI Minor  Petrol       Manual
3502  Maruti Wagon R LXI Minor  Petrol       Manual
3573  Maruti Wagon R LXI Minor  Petrol       Manual
3918  Maruti Wagon R LXI Minor  Petrol       Manual
4022  Maruti Wagon R LXI Minor  Petrol       Manual
4050  Maruti Wagon R LXI Minor  Petrol       Manual
4155  Maruti Wagon R LXI Minor  Petrol       Manual
4183  Maruti Wagon R LXI Minor  Petrol       Manual

In [24]:
#it give data name with number of time it come in data 
df["name"].value_counts()

Maruti Swift Dzire VDI                     69
Maruti Alto 800 LXI                        59
Maruti Alto LXi                            47
Maruti Alto LX                             35
Hyundai EON Era Plus                       35
                                           ..
Hyundai Verna Transform CRDi VGT SX ABS     1
Maruti S-Presso VXI Plus                    1
Toyota Etios Liva 1.2 VX                    1
Toyota Yaris G                              1
Hyundai i20 Magna 1.4 CRDi                  1
Name: name, Length: 1491, dtype: int64

In [25]:
#it give data name only
df["name"].unique()

array(['Maruti 800 AC', 'Maruti Wagon R LXI Minor',
       'Hyundai Verna 1.6 SX', ..., 'Mahindra Verito 1.5 D6 BSIII',
       'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV',
       'Hyundai i20 Magna 1.4 CRDi'], dtype=object)

In [26]:
#it count data in unique
df["name"].nunique()

1491